.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.matrixContent {
  display: flex;
  flex-direction: column;
}

.itemContent {
  display: flex;
  width: 3.125rem;
  height: 3.125rem;
  background: var(--second-bg-color);
  justify-content: center;
  align-items: center;
  border: var(--main-color) solid 1px;
  margin: 1px;
}

.row {
  display: flex;
}
