:root {
  --bg-color: #020202;
  --second-bg-color: #0d2124;
  --text-color: #fff;
  --main-color: #00ffed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
  max-width: 100vw;
  background: var(--bg-color);
  color: var(--text-color);
}

h1 {
  text-transform: uppercase;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  row-gap: 30px;
}
